# Introduction

In this notebook we do a basic data exploratory analysis of the datasets we will be using to evaluate the RTABMAP SLAM algorithm

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
gt = pd.read_csv('../data/poses/param1_gt.txt', header=None, sep=" ").rename(columns={0:'timestamp', 
                   1:'x', 
                   2:'y', 
                   3:'z', 
                   4:'r_x', 
                   5:'r_y', 
                   6:'r_z',
                   7:'r_w'})
odom = pd.read_csv('../data/poses/param1_odom.txt', header=None, sep=" ").rename(columns={0:'timestamp', 
                   1:'x', 
                   2:'y', 
                   3:'z', 
                   4:'r_x', 
                   5:'r_y', 
                   6:'r_z',
                   7:'r_w'})
slam = pd.read_csv('../data/poses/param1_slam.txt', header=None, sep=" ").rename(columns={0:'timestamp', 
                   1:'x', 
                   2:'y', 
                   3:'z', 
                   4:'r_x', 
                   5:'r_y', 
                   6:'r_z',
                   7:'r_w'})

We get 3 different files from 3 different sensors. One file for the ground truth, one file for the SLAM trajectory estimation, one file for the odometry trajectory estimation. We use the ground truth to compare to rest of the files to calculate the Absolute Trajectory Error(using the SLAM trajectory) and Relative Pose Error (using the odometry trajectory).

Each dataset has 8 columns. The first column is the 'timestamp', the next three columns are transformation vectors that could be interpreted as the 'x', 'y', and 'z' positions of the robot. The last four columns are the rotational vectors that control how the car turns which can be interpreted as, roll(qx), pitch(qy), yaw(qz) and angle(qw).

### Ground Truth Data:

In [3]:
gt.head()

,timestamp,x,y,z,r_x,r_y,r_z,r_w
0,949.666,8.047289,-2.453922,0.100001,0.000000,-0.000003,-0.726555,0.687108
1,950.716,7.959093,-4.034249,0.100002,-0.000001,-0.000001,-0.726527,0.687138
2,951.766,7.870961,-5.614591,0.100002,-0.000001,-0.000001,-0.726527,0.687138
3,952.816,7.889397,-6.329350,0.099999,0.000003,-0.000006,-0.836952,0.547276
4,953.866,7.866745,-6.317075,0.109504,0.022485,0.007712,0.945419,-0.324988

### Odometry Data:

In [4]:
odom.head()

,timestamp,x,y,z,r_x,r_y,r_z,r_w
0,949.666,8.047204,-2.455426,0.100001,-0.000001,-0.000006,-0.726555,0.687108
1,950.716,7.958999,-4.035922,0.100002,-0.000001,-0.000001,-0.726527,0.687138
2,951.766,7.870878,-5.616096,0.100002,-0.000001,0.000004,-0.726526,0.687138
3,952.816,7.889404,-6.329226,0.100001,-0.000002,0.000001,-0.837040,0.547142
4,953.866,7.866321,-6.317363,0.109961,0.023555,0.008090,0.945478,-0.324731

### SLAM Data:

In [5]:
slam.head()

,timestamp,x,y,z,r_x,r_y,r_z,r_w
0,949.666,8.048130,-2.432435,0.100277,0.000063,-0.000040,-0.724434,0.689345
1,950.716,7.969673,-4.013444,0.100206,0.000063,-0.000035,-0.724406,0.689374
2,951.766,7.891295,-5.594132,0.100133,0.000063,-0.000030,-0.724405,0.689375
3,952.816,7.914218,-6.307135,0.100108,0.000068,-0.000021,-0.835349,0.549720
4,953.866,7.891061,-6.295414,0.110065,0.023457,0.008167,0.944475,-0.327644

## Time Stamp Column:

Since all 3 datasets are collected at the same time, there is no variation between the 3 datasets.

<!-- ![timestamp](../data/report/timestamp.png) -->
<img src="../data/report/timestamp.png" alt="timestamp">

## X and Y Columns:

If we were to graph these two columns, we are able to see the trajectory of the car.

We can see that they all seem to plot the same path which is a good sign

![paths](../data/report/xy.png)

## Z Column:

Since there is no elevation change in the simulation, our 'z' values are similar

In [6]:
pd.read_csv('../data/report/z.csv', index_col=0)

              Average Value of Z
Ground Truth            0.103604
Odometry                0.103617
SLAM                    0.103623

When we graph all 3 datasets' z values, we see that it overlaps with each other.

![z similarity](../data/report/z.png)

## Rotational Vectors:

### Vectors r_x, r_y:

The last four columns are the quarternions. We generally see the rotaional values change when the x and y values have a change in direction.

Since this is a car, there is no pitch and roll, the first two rotional vectors, they are relatively the same across all 3 datasets.

In [7]:
pd.read_csv('../data/report/rx.csv', index_col=0)

              Average Value of Rotations X
Ground Truth                      0.007388
Odometry                          0.007657
SLAM                              0.007642

![rx similarity](../data/report/rx.png)

In [8]:
pd.read_csv('../data/report/ry.csv', index_col=0)

              Average Value of Rotations Y
Ground Truth                      0.000599
Odometry                          0.000633
SLAM                              0.000638

![ry similarity](../data/report/ry.png)

### Vectors r_w:

The column 'r_w' corresponds to the angle of the wheel. The angles of the wheels also stays relatively the same across all 3 datasets.

In [9]:
pd.read_csv('../data/report/rw.csv', index_col=0)

              Average Value of Rotations X
Ground Truth                      0.320712
Odometry                          0.320750
SLAM                              0.319115

![rw similarity](../data/report/rw.png)

### Vectors r_z:

#### Ground Truth:

If we look at the graph, we see that the first turn occurs around the same time there is a change in direction in the y column.

![rz_gt change](../data/report/rz_gt.png)

This can be seen in all the datasets

#### Odometry Data:

![rz_odom change](../data/report/rz_odom.png)

#### SLAM Data:

![rz_slam change](../data/report/rz_slam.png)